<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Pdf</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        embed {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- Link to the view that serves the PDF -->
    <embed src="{% url 'download-feedback-list' %}?session_id={{session_id}}" type="application/pdf">
</body>
</html>
