:root {
    --body-background: #fffcf3;
    --nav-background: #fff2e2;
    --primary-color: #113e59;
    --secondary-color: #f6931e;
    --secondary-color-faded: #f6951e9b;
    --light-text-color: #bababa;
    --temp: #073763;

}

body {
    background-color: var(--body-background) !important;
}


.container-ssc {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.scc-section {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.text-primary-ssc {
    color: var(--primary-color) !important;
}

.text-secondary-ssc {
    color: var(--secondary-color) !important;
}

.text-light-ssc {
    color: var(--light-text-color) !important;
}

.ssc-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.best-results {
    background-color: var(--nav-background);
}

.property-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d3b66;
    /* Dark blue color */
}

.rera-badge {
    background-color: #e8f5e9;
    color: #4caf50;
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 10px;
}

.property-location {
    color: #777;
    font-size: 1rem;
}

.developer-name {
    font-size: 0.9rem;
    color: #777;
}

.icon-bar i {
    font-size: 1.2rem;
    margin-left: 15px;
    color: #0d3b66;
    cursor: pointer;
}

.floor-plan-btn {
    color: var(--light-text-color);
    text-decoration: none;
}

.floor-plan-btn:hover {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    border: 0px !important;
    border-bottom: 3px var(--secondary-color) solid !important;
}

.floor-plan-btn.active {
    color: var(--primary-color) !important;
    text-decoration: none !important;
    border: 0px !important;
    border-bottom: 3px var(--secondary-color) solid !important;
    background-color: transparent !important;
}

.modal-dialog.custom-size {
    max-width: 90vw;
    /* Adjust width as needed */
    max-height: 90vh;
    /* Adjust height as needed */
}

.modal-body {
    padding: 0;
    /* Remove padding around the image */
}

.modal-body img {
    width: 100%;
    height: auto;
    /* Ensure aspect ratio is maintained */
}

.map-one {
    position: relative;
}
.map-one_map{
    padding: 20px;
}
.map-one_map iframe {
    position: relative;
    height: 500px;
    width: 100%;
    /* border-radius: 8px !important; */
    /* border: 2px solid black !important; */
}

.form-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header i {
    font-size: 1.2rem;
}

/* Custom style for input underline */
.form-control {
    border: none;
    border-bottom: 2px solid var(--light-text-color);
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--secondary-color);
}

/* Additional margin for spacing between fields */
.form-group {
    margin-bottom: 1.5rem;
}

.form-select{
    border: none;
    border-bottom: 2px solid var(--light-text-color);
    border-radius: 0;
}

.form-select:focus{
    box-shadow: none;
    border-bottom: 2px solid var(--secondary-color);
}

.required {
    color: var(--secondary-color);
}

label{
    color: var(--secondary-color);
    font-weight: 600;
}

.form-label.primary{
    color: var(--primary-color) !important;
    font-weight: 700 !important;
}

.form-check-label{
    color: rgba(54, 53, 53, 0.683) !important;
}
.btn-custom {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}
.btn-custom:hover {
    box-shadow: 1px 1px 4px 4px var(--secondary-color-faded);
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-weight: 500;
}
